@import 'contact';

h3{
    font-size: xx-large;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1rem;
    border-right: 20px solid #20c309 ;
    border-left: 20px solid #20c309 ;
    border-top: 10px solid #1f768e;
    border-bottom: 10px solid #1f768e;
    border-radius: 6px;
    outline: 2px solid #131313;
    color: #9b0c0c;
    background-image: linear-gradient(to right, rgb(206, 86, 30), #895499);
}

body{
    display: flex;
    overflow: hidden;
    justify-content: center;
}